*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#080810,#18001b,#330033);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

color:white;

}

.container{

width:90%;

max-width:700px;

padding:40px;

border-radius:30px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

text-align:center;

box-shadow:0 0 50px rgba(255,0,120,.3);

animation:fade 1s;

}

h1{

font-size:48px;

margin-bottom:20px;

}

p{

font-size:22px;

opacity:.9;

margin-bottom:40px;

line-height:35px;

}

button{

padding:18px 45px;

border:none;

font-size:20px;

cursor:pointer;

border-radius:50px;

background:#ff2f7d;

color:white;

transition:.4s;

}

button:hover{

transform:scale(1.08);

box-shadow:0 0 30px hotpink;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:none;

}

}

/* Floating Hearts */

.heart{

position:absolute;

bottom:-50px;

font-size:25px;

animation:float linear infinite;

opacity:.6;

}

@keyframes float{

0%{

transform:translateY(0) rotate(0deg);

}

100%{

transform:translateY(-120vh) rotate(360deg);

}

}